<a href="https://colab.research.google.com/github/oxanaRC/CE888/blob/master/LAB4/bank_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import itertools

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import accuracy_score as acc
from sklearn.metrics import make_scorer, confusion_matrix
from sklearn.dummy import DummyRegressor, DummyClassifier
from sklearn.preprocessing import LabelEncoder

In [32]:
df = pd.read_csv("https://raw.githubusercontent.com/oxanaRC/CE888/master/LAB4/bank-additional-full.csv", delimiter = ";")
df

       age          job  marital  ... euribor3m nr.employed    y
0       56    housemaid  married  ...     4.857      5191.0   no
1       57     services  married  ...     4.857      5191.0   no
2       37     services  married  ...     4.857      5191.0   no
3       40       admin.  married  ...     4.857      5191.0   no
4       56     services  married  ...     4.857      5191.0   no
...    ...          ...      ...  ...       ...         ...  ...
41183   73      retired  married  ...     1.028      4963.6  yes
41184   46  blue-collar  married  ...     1.028      4963.6   no
41185   56      retired  married  ...     1.028      4963.6   no
41186   44   technician  married  ...     1.028      4963.6  yes
41187   74      retired  married  ...     1.028      4963.6   no

[41188 rows x 21 columns]

In [33]:
features = ["age",
            "job",
            "marital",
            "education",
            "default",
            "housing",
            "loan",
            "contact",
            "month",
            "day_of_week",
            "duration",
            "campaign",
            "pdays",
            "previous",
            "poutcome",
            "emp.var.rate",
            "cons.price.idx",
            "cons.conf.idx",
            "euribor3m",
            "nr.employed"
           ]


df[features].head()

   age        job  marital  ... cons.conf.idx euribor3m nr.employed
0   56  housemaid  married  ...         -36.4     4.857      5191.0
1   57   services  married  ...         -36.4     4.857      5191.0
2   37   services  married  ...         -36.4     4.857      5191.0
3   40     admin.  married  ...         -36.4     4.857      5191.0
4   56   services  married  ...         -36.4     4.857      5191.0

[5 rows x 20 columns]

In [35]:

outcomes=  ["y"]

df[outcomes].head()

    y
0  no
1  no
2  no
3  no
4  no

In [39]:
df_dummies = pd.get_dummies(df)
df_dummies.head()

   age  duration  campaign  ...  poutcome_success  y_no  y_yes
0   56       261         1  ...                 0     1      0
1   57       149         1  ...                 0     1      0
2   37       226         1  ...                 0     1      0
3   40       151         1  ...                 0     1      0
4   56       307         1  ...                 0     1      0

[5 rows x 65 columns]

In [0]:
#get_dummies (above) achieves the same as below
#df[["job"]] = df[["job"]].apply(LabelEncoder().fit_transform)
#df[["marital"]] = df[["marital"]].apply(LabelEncoder().fit_transform)
#df[["education"]] = df[["education"]].apply(LabelEncoder().fit_transform)
#df[["default"]] = df[["default"]].apply(LabelEncoder().fit_transform)
#df[["housing"]] = df[["housing"]].apply(LabelEncoder().fit_transform)
#df[["loan"]] = df[["loan"]].apply(LabelEncoder().fit_transform)
#df[["contact"]] = df[["contact"]].apply(LabelEncoder().fit_transform)
#df[["month"]] = df[["month"]].apply(LabelEncoder().fit_transform)
#df[["day_of_week"]] = df[["day_of_week"]].apply(LabelEncoder().fit_transform)
#df[["poutcome"]] = df[["poutcome"]].apply(LabelEncoder().fit_transform)
#df.head()

In [40]:
df_dummies = df_dummies.drop('duration', 1)
df_dummies = df_dummies.drop('y_no', 1)
df_dummies.head()

   age  campaign  pdays  ...  poutcome_nonexistent  poutcome_success  y_yes
0   56         1    999  ...                     1                 0      0
1   57         1    999  ...                     1                 0      0
2   37         1    999  ...                     1                 0      0
3   40         1    999  ...                     1                 0      0
4   56         1    999  ...                     1                 0      0

[5 rows x 63 columns]

In [0]:
X_df = df[features].copy()
y_df = df[outcomes].copy()
X = X_df.values
y = y_df.values

In [27]:
clf = ExtraTreesClassifier(n_estimators=20000, max_depth=4)
clf.fit(X,y)

print(acc(y,clf.predict(X)))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

KeyboardInterrupt: ignored